.field{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.center {
    margin: auto;
    display: flex;
    justify-content: center;

}
.tablet {
    display: flex;
    /* height: 290px;
    width: 280px; */
    flex-wrap: wrap;
    padding: 10px;
    border: 3px groove black;
    border-radius: 10px;
    background-color: rgb(158, 187, 241);
}
.td {
    height:40px;
    width: 40px;
    background-color: rgba(0, 255, 255, 0.836);
    margin: 5px;
    padding: 8px;
    border: 2px groove green;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2em;
    text-align: center;
}
.td.empty {
    background-color: rgb(219, 255, 250);
}

.cursor-top{
    cursor: s-resize;
}
.cursor-bottom{
    cursor: n-resize;
}
.cursor-left{
    cursor: e-resize;
}
.cursor-right{
    cursor: w-resize;
}
.cursor-move{
    cursor: move;
}

.butt-mix, .modal-open {
	padding: 10px 20px;
	font-size: 20px;
	cursor: pointer;
    margin: 10px;
    background-color: rgb(190, 252, 188);
    box-shadow: 0 0 10px 1px rgb(219, 255, 250);
    border-radius: 10px;
}

.modal-open{
    width: 50px;
    padding: 5px 5px 0px 5px;
}
