<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/vueAnimation.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="scriptVue.js"></script>

    <title>Пятнашки</title>

</head>

<body>
    <div id='app'>
        <div class="field">
            <button
                    class="modal-open"
                    type="button"
                    @click='modalOpenClose'
            >
                <img
                        src="svg/settings-svgrepo-com.svg"
                        alt="настройка"
                >
            </button>
            <button
                    class="butt-mix"
                    type="button"
                    @click='mixPuzzle'>
                Перемешать <b>&#128472;</b>
            </button>
        </div>
        <div class="center">
            <transition-group
                    tag="div"
                    name="flip-list"
                    class='tablet'
                    :style = "{ height: isHeight  + 'px', width: isWidth + 'px' }"
            >
                <div
                        class='td'
                        v-for='num in valuePuzzle'
                        :key="num"
                        @click='swapPuzzle'
                        :class='[num==="" ? classEmpty: "", num===numCursorBottom ? classCursorBottom: "",
                        num === numCursorLeft ? classCursorLeft: "", num===numCursorRight ? classCursorRight: "",
                        num === numCursorTop ? classCursorTop: "",]'
                >
                    {{num}}
                </div>
            </transition-group>
        </div>
        <div class="modal-overlay" :class="classActiveModalOverlay">
            <div class="modal-window" :class="classActiveModalWindow">
                <div class="modal-header">
                    <span class="modal-title">Настройка игры</span>
                    <!-- <span class="modal-close">&times;</span> -->
                </div>

                <div class="modal-body">
                    <span>
                        <label>Высота</label>
                        <select v-model="puzzleHeight">
                            <option v-for='height in dimensions'>
                                {{height}}
                            </option>
                        </select>
                    </span>
                    <span>
                        <label>Ширина</label>
                        <select v-model="puzzleWidth">
                            <option v-for='width in dimensions'>
                                {{width}}
                            </option>
                        </select>
                    </span>
                </div>

                <div class="modal-footer">
                    <button @click="modalOk">
                        Ok
                    </button>
                    <button @click="modalOpenClose">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
        <div id="map">
            <a class="dg-widget-link"
               href="http://2gis.ru/novosibirsk/firm/70000001040265022/center/82.92195081710817,55.03554840462446/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть
                на карте Новосибирска</a>
            <div class="dg-widget-link"><a
                    href="http://2gis.ru/novosibirsk/firm/70000001040265022/photos/70000001040265022/center/82.92195081710817,55.03554840462446/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии
                компании</a></div>
            <div class="dg-widget-link"><a
                    href="http://2gis.ru/novosibirsk/center/82.922458,55.035128/zoom/16/routeTab/rsType/bus/to/82.922458,55.035128╎Megobari, ресторан-кафе?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти
                проезд до Megobari, ресторан-кафе</a></div>
            <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js" type="application/javascript"></script>
            <script charset="utf-8" type="application/javascript">new DGWidgetLoader({
                "width": 640,
                "height": 600,
                "borderColor": "#a3a3a3",
                "pos": {"lat": 55.03554840462446, "lon": 82.92195081710817, "zoom": 16},
                "opt": {"city": "novosibirsk"},
                "org": [{"id": "70000001040265022"}]
            });</script>
            <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в
                настройках вашего браузера.
            </noscript>
        </div>
    </div>

</body>

</html>